@use "variables";
header {
  height: 2.5rem;
  background-color: variables.$tertiary-color;

  // Horizontal Line Below Hamburger button
  border-bottom: solid 0.25rem variables.$main-color;
  box-shadow: 0 0 0.125rem 0.125rem variables.$tertiary-color;
}

// Input
input {
  display: none;
}

// Display nav when input is checked
input:checked ~ nav {
  transform: scaleX(1);

  ul div li a {
    opacity: 1;
    transition: opacity ease-in-out 250ms 250ms;
  }
}

//   Hamburger button | Not Checked
label {
  display: block;
  padding: 1.25em;
  width: 100vw;
  z-index: 3;
  position: fixed;
}

input ~ nav {
  //   Nav
  max-height: 0; // We don't want the nav pushing down main or something after header
  z-index: 2;
  position: relative; // To allow setting z-index
  transition: transform ease-in-out 250ms;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    div {
      width: variables.$nav-size;
      max-width: variables.$nav-max-size;
      position: fixed;
      height: 100vh; // Height

      // Scrolling when list is too big to fit on height
      overflow-y: auto;
      scroll-behavior: smooth;
      width: variables.$nav-size;

      // Custom scrollbar
      // Webkit
      &::-webkit-scrollbar {
        background-color: variables.$scroll-background;
        width: 0.375rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: variables.$scroll-color;
        border-radius: 20rem;
      }
      // Firefox
      scrollbar-width: thin;
      scrollbar-color: variables.$scroll-color transparent;

      // IE
      -ms-scrollbar-base-color: variables.$main-color;
      -ms-scrollbar-arrow-color: variables.$main-color;
      -ms-scrollbar-track-color: variables.$secondary-color;

      li a {
        // Link
        display: block;
        padding: 1em 0.5em;
        font-weight: variables.$nav-font-weight;
        font-size: variables.$nav-font-size;
        color: variables.$main-color;
        opacity: 0;
        text-align: center;
        text-decoration: none;

        // Hover line basic styles

        &::after {
          display: block;
          width: 100%;
          height: variables.$nav-font-size / 8;
          transform: scaleX(0);
          content: "";
          box-sizing: border-box;
          margin-top: variables.$nav-font-size / 4;
          background-color: variables.$main-color;
        }

        &:hover::after,
        &:focus::after,
        &:active::after {
          transform: scaleX(1);
          transition: transform ease-in-out 250ms;
        }

        &:focus {
          outline-offset: -0.25rem; // For the browsers that support it
          outline: dashed variables.$main-color variables.$nav-font-size / 8;
          // TODO: Somehow use border instead of outline while maintaining the same look for better compatibility (i.e. IE - outline-offset)
        }

        &::selection {
          color: variables.$tertiary-color;
          background-color: variables.$main-color;
        }
      }
    }
  }

  & + div {
    // White Background
    width: variables.$nav-size;
  }
}
