@use "variables";

header {
  background-color: variables.$tertiary-color;
  // Input
  input {
    display: none;
  }
  // Display nav when input is checked
  input:checked ~ nav {
    transform: scaleX(1);
    ul div li a {
      opacity: 1;
      transition: opacity ease-in-out 250ms 250ms;
    }
  }
  //   Hamburger button | Not Checked
  label {
    padding: 1.25em;
  }
  input:not(checked) ~ nav {
    //   Nav
    z-index: 2;
    position: relative; // To allow setting z-index
    max-height: 0; // We don't want the nav pushing down main or something after header
    transition: transform ease-in-out 250ms;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      div {
        min-width: variables.$min-width;
        max-width: variables.$max-width;
        li a {
          // Link
          display: block;
          color: variables.$main-color;
          text-align: center;
          text-decoration: none;
          opacity: 0;
          padding: 1em;
          // Hover line effect
          &::after,
          &::before {
            display: block !important;
            content: "";
            height: 0.125rem;
            box-sizing: border-box;
            background-color: variables.$main-color;
          }
          &::before {
            width: 0%;
            margin: 0 0 0.125rem 0 !important;
            background-color: variables.$main-color;
          }
          &::after {
            width: 100%;
            transform: scaleX(0);
            transform-origin: center;
            margin-top: 0.125rem;
          }
          &:hover::after,
          &:focus::after,
          &:active::after {
            transform: scaleX(1);
            transition: transform ease-in-out 250ms;
          }
          &::selection {
            color: variables.$tertiary-color;
            background: variables.$main-color;
          }
        }
      }
    }
    & + div {
      // White Background
      min-width: variables.$min-width;
      max-width: variables.$max-width;
    }
  }
  // Line Below Hamburger button
  hr {
    color: variables.$main-color;
    background-color: variables.$main-color;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: -1;
    width: 100vw;
    border: 0;
    border-top: solid 2.5rem variables.$tertiary-color;
    height: 0.25rem;
    box-shadow: 0 0 0.125rem 0.125rem variables.$tertiary-color;
  }
}
