// Colors:
$main-color: #4aaf8d;
$secondary-color:  #fff;
$tertiary-color: #282828;

// Values
$nav-width: 45%; // Size of the hamburger menu | In percentage
$nav-break: 400px; // @media for when to transform hamburger menu to row navigation
// For _nav_img.scss
$nav-img-break: 500px; // @media for when to add an image to the right side of the row navigation
