@use "../variables";

header {
  // Hamburger Lines | ☰
  label {
    span,
    span::before,
    span::after {
      width: 1.25rem;
      height: 0.125rem;
      position: absolute;
      content: "";
      box-sizing: border-box;
      background-color: variables.$secondary-color;
      transition: all ease-in-out 200ms;
    }
    span {
      top: 0;
      bottom: 0;
      margin: auto 0;
      &::before {
        bottom: 0.5em;
      }
      &::after {
        top: 0.5em;
      }
    }
  }
  // Hamburger button | Checked
  input:checked + label {
    //   Hamburger Lines | X
    span,
    span::before,
    span::after {
      background-color: variables.$tertiary-color;
    }
    span {
      &::before {
        bottom: 0;
      }
      background-color: transparent;
      &::after {
        top: 0;
      }
    }
  }
}
