@use "../variables";

header {
  // White background
  label {
    justify-content: flex-start;
  }
  input:not(checked) ~ nav {
    transform: scale(0, 1);
    transform-origin: left;
    ul {
      margin-right: 100% - variables.$nav-width;
    }
  }
  nav + div {
    z-index: 1;
    background-color: variables.$secondary-color;
    width: variables.$nav-width;
    position: absolute;
    margin-top: -2.5em;
    min-height: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }
  input:checked ~ nav + div {
    transform: scale(1, 1);
  }
}
