@use "../variables";

header {
  // Hamburger animation rotation
  label {
    right: 0;
    justify-content: flex-end;
    span {
      &::before {
        transform: rotate(180deg) !important;
      }
      &::after {
        transform: rotate(180deg) !important;
      }
    }
  }
  input:checked + label {
    span {
      &::before {
        transform: rotate(-135deg) !important;
      }
      &::after {
        transform: rotate(-45deg) !important;
      }
    }
  }
  input:not(checked) ~ nav {
    right: 0;
    transform-origin: right;
    ul div {
      // Visual scrollbar bug (overlap)
      direction: ltr;
      right: 0;
    }
    // White background
    & + div {
      margin: -2.5em 0 0 100% - variables.$nav-width;
      transform-origin: right;
      right: 0;
    }
  }
}
