@use "../variables";

header {
  // When Checked
  input:checked ~ nav {
    transform: scale(1, 1);
    transform-origin: 0 top;
    transition: transform ease-in-out 250ms;
  }
  input:not(checked) ~ nav {
    max-height: 0;
    transform-origin: 0 top;
    transform: scale(1, 0);
    transition: all ease-in-out 250ms;
    z-index: 1;
    ul {
      background-color: variables.$secondary-color;
      transition: all 150ms ease-in-out;
      margin: 0 auto;
      div {
        min-width: 100%;
        :first-child {
          padding-top: 2.5rem;
          margin-top: -2.5rem;
        }
      }
    }
  }
  // Add background when unchecked
  hr {
    border-top: solid 2.5rem variables.$tertiary-color;
  }
  label {
    z-index: 2;
  }
  // Hamburger button animation | X
  input:checked + label {
    span {
      &::before {
        transform: rotate(-45deg) !important;
      }
      &::after {
        transform: rotate(45deg) !important;
      }
    }
  }
}
