header {
  label {
    justify-content: flex-end;
  }
  // Hamburger button animation | X
  input:checked + label {
    span {
      &::before {
        transform: rotate(45deg) !important;
        bottom: 0 !important;
      }
      &::after {
        transform: rotate(-45deg) !important;
        top: 0 !important;
      }
    }
  }
}
