@use "../variables";

header {
  // Hamburger button
  label {
    justify-content: flex-start;
    span {
      &::before {
        transform: rotate(-180deg);
      }
      &::after {
        transform: rotate(-180deg);
      }
    }
  }
  input:checked + label {
    span {
      &::before {
        transform: rotate(135deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
  input:not(checked) ~ nav {
    transform-origin: left;
    ul div {
      // Scrollbar direction
      direction: rtl;
    }
    // White background
    & + div {
      margin-top: -2.5em;
      transform-origin: left;
    }
  }
}
