@use "../variables";

header {
  // Hamburger button
  label {
    justify-content: flex-start;
  }
  input:not(checked) ~ nav {
    transform: scale(0, 1);
    transform-origin: left;
    // White background
    & + div {
      min-height: 100%;
      width: variables.$nav-width;
      background-color: variables.$secondary-color;
      position: fixed;
      margin-top: -2.5em;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
    }
  }
  // Reveal background from left
  input:checked ~ nav + div {
    transform: scale(1, 1);
  }
}
